# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Docker
.docker/

# OS
.DS_Store

# Secrets
.env
.env.*
!.env.example
*.pem
*.key
